<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncstudy.mapper.UserMapper">

	<resultMap id="userMessageMap" type="com.ncstudy.pojo.User">
		<id column="id" property="userId"/>
		<result column="user_name" property="username"/>
		<result column="user_age" property="age"/>
		<result column="user_permission" property="permission"/>
		<result column="user_gender" property="gender"/>
		<result column="user_password" property="password"/>
	</resultMap>
	
	<sql id="users">
		id, user_name , user_age , user_permission, user_gender, user_password
	</sql>
	
	<sql id="useras">
		id as userId, user_name as username, user_age as age, user_permission as permission, user_gender as gender, user_password as password
	</sql>
	
    <select id="getUser" resultType="com.ncstudy.pojo.User">
       	select <include refid="useras"/> 
       	from user order by id desc limit 1 ;
    </select>
    
    <select id="getUserByPwd" resultType="com.ncstudy.pojo.User">
       	select <include refid="useras"/>
       	 from user where user_name=#{name} and user_password=#{pwd} ;
    </select>
	
	<insert id="saveUser" parameterType="com.ncstudy.pojo.User" useGeneratedKeys="true" keyProperty="id">
		insert into user(user_name, user_age, user_permission, user_gender)
		values(#{username}, #{age}, #{permission}, #{gender})
	</insert>

	<update id="updateUser">
		update user set user_age = 33 where id = 2
	</update>
	
	<delete id="deleteUser">
	    delete from user where id = 3
	</delete>
	
	<select id="getUserList" resultMap="userMessageMap">
       	select <include refid="users"/>
       	from user
    </select>
    
    <select id="getUserByName" resultMap="userMessageMap" parameterType="String">
       	select <include refid="users"/>
       	from user where user_name = #{name} 
    </select>
</mapper>